* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;

  --white: #ffffff;
  --whiteSoft: #f9f9f9;
  --whiteMute: #f1f1f1;

  --black: #1a1a1a;
  --blackRich: #000000;
  --blackSoft: #242424;
  --blackMute: #2f2f2f;

  --gray: #8e8e8e;
  --grayLight1: #aeaeae;
  --grayLight2: #c7c7c7;
  --grayLight3: #d1d1d1;
  --grayLight4: #e5e5e5;
  --grayLight5: #f2f2f2;
  --grayDark1: #636363;
  --grayDark2: #484848;
  --grayDark3: #3a3a3a;
  --grayDark4: #282828;
  --grayDark5: #202020;

  --dividerLight1: rgba(60, 60, 60, 0.29);
  --dividerLight2: rgba(60, 60, 60, 0.12);

  --dividerDark1: rgba(84, 84, 84, 0.65);
  --dividerDark2: rgba(84, 84, 84, 0.48);

  --textLight1: #213547;
  --textLight2: rgba(60, 60, 60, 0.7);
  --textLight3: rgba(60, 60, 60, 0.33);
  --textLight4: rgba(60, 60, 60, 0.18);

  --textDark1: #ffffffde;
  --textDark2: #ebebeb99;
  --textDark3: #ebebeb61;
  --textDark4: #ebebeb2e;

  --textLightCode: #476582;
  --textDarkCode: #aac8e4;

  --green: #42b883;
  --greenLight: #42d392;
  --greenLighter: #35eb9a;
  --greenDark: #33a06f;
  --greenDarker: #155f3e;

  --blue: #3b8eed;
  --blueLight: #549ced;
  --blueLighter: #50a2ff;
  --blueDark: #3468a3;
  --blueDarker: #255489;

  --yellow: #ffc517;
  --yellowLight: #ffe417;
  --yellowLighter: #ffff17;
  --yellowDark: #e0ad15;
  --yellowDarker: #bc9112;

  --red: #ed3c50;
  --redLight: #cf2026;
  --redLighter: #fd1d7c;
  --redDark: #cd2d3f;
  --redDarker: #ab2131;

  --pink: #de41e0;
  --pinkLight: #e936eb;
  --pinkLighter: #f616f8;
  --pinkDark: #823c83;
  --pinkDarker: #602960;

  --navBar: 60px;

  --sideBar-top: 35px;
  --sideBar: 260px;
  --sideBar-res: calc(var(--navBar) + var(--sideBar-top));
}

@media screen and (prefers-color-scheme: dark) {
}

body {
  margin: 0px;
  background-color: var(--black);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: Tajawal;
}

code {
  font-family: "Ubuntu Mono" !important;
}

code[class*="language-"],
pre[class*="language-"] {
  overflow-x: auto;
  min-width: 0px;
}

.markdown-container {
  color: var(--grayLight3);
  overflow-y: auto !important;

  h1,
  h2 {
    color: var(--textDarkCode);
  }

  p {
    line-height: 1.75rem;
  }

  ul {
    margin: 0;
    padding: 0 20px;
  }

  li {
    padding: 5px 0px;
    line-height: 1.75rem;
  }

  a {
    color: var(--blueLight);
  }

  :is(code):not(pre code) {
    color: var(--textDarkCode);
    // font-size: 0.9em;
    background-color: var(--blackMute) !important;
    padding: 3px 5px;
    border-radius: 3px;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background-color: var(--blackSoft) !important;
  }

  a :is(code):not(pre code) {
    color: inherit;
  }

  blockquote {
    padding: 5px 20px;
    background-color: var(--blackSoft);
    border: 1px solid var(--dividerLight1);

    strong {
      font-style: normal;
    }
  }
}
