:root {
  --dark-0: #0e0e0e;
  --dark-1: #1e1e1e;
  --dark-2: #2e2e2e;
  --dark-3: #3e3e3e;
  --dark-4: #4e4e4e;
  --dark-5: #5e5e5e;
  --dark-6: #6e6e6e;
  --dark-7: #7e7e7e;
  --dark-8: #8e8e8e;

  --light-0: #fff;
  --light-1: #e1e1e1;
  --light-2: #d1d1d1;
  --light-3: #c1c1c1;
  --light-4: #b1b1b1;
  --light-5: #a1a1a1;
  --light-6: #919191;
  --light-7: #818181;
  --light-8: #717171;

  --code-keyword-light: #bd2864;
  --code-keyword-dark: #bd2864;

  --code-string-light: #297a3a;
  --code-string-dark: #62c073;

  --code-function-light: #0068d6;
  --code-function-dark: #52a8ff;

  --code-constant-dark: #f8c555;
  --code-constant-light: #f08d49;

  --code-operator-dark: #67cdcc;
  --code-operator-light: #016464;

  --link-dark: #2563eb;
  --link-light: #3b82f6;

  --t-short: 100ms;
  --t-medium: 200ms;
  --t-long: 300ms;

  --nav-bar-height: 65px;
  --nav-bar-z: 1000;

  --side-bar-width: 250px;
  --side-bar-height: 40px;
  --side-bar-z: 900;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  --primary: var(--dark-0);
  --primary-hover: var(--dark-1);

  --secondary: var(--dark-1);
  --secondary-hover: var(--dark-2);

  --tertiary: var(--dark-2);
  --tertiary-hover: var(--dark-3);

  --accent: var(--dark-3);
  --accent-hover: var(--dark-2);

  --text: var(--light-1);
  --text-medium: var(--light-3);
  --text-low: var(--light-5);
  --text-lowest: var(--light-7);

  --border-lowest: var(--dark-1);
  --border-low: var(--dark-2);
  --border: var(--dark-3);
  --border-strong: var(--dark-4);

  --code-keyword: var(--code-keyword-dark);
  --code-string: var(--code-string-dark);
  --code-function: var(--code-function-dark);
  --code-constant: var(--code-constant-dark);
  --code-operator: var(--code-operator-dark);

  --link: var(--link-light);
}

:root[data-theme='light'] {
  color-scheme: light;

  --primary: var(--light-0);
  --primary-hover: var(--light-1);

  --secondary: var(--light-1);
  --secondary-hover: var(--light-2);

  --tertiary: var(--light-2);
  --tertiary-hover: var(--light-3);

  --accent: var(--light-3);
  --accent-hover: var(--light-2);

  --text: var(--dark-1);
  --text-medium: var(--dark-3);
  --text-low: var(--dark-5);
  --text-lowest: var(--dark-7);

  --border-lowest: var(--light-1);
  --border-low: var(--light-2);
  --border: var(--light-3);
  --border-strong: var(--light-4);

  --code-keyword: var(--code-keyword-light);
  --code-string: var(--code-string-light);
  --code-function: var(--code-function-light);
  --code-constant: var(--code-constant-light);
  --code-operator: var(--code-operator-light);

  --link: var(--link-dark);
}

* {
  transition-duration: var(--t-medium);
  transition-property: background, border-color, opacity, color, box-shadow, top, bottom, left,
    margin, right;
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

#app {
  color: var(--text);
  width: 100%;
  background-color: var(--primary);
  font-family: 'Inter';
  line-height: 1.75;
}

// toggle
.switch {
  --width: 60px;
  --height: 34px;

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);

  &-input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  &-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: var(--text-lowest);
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}

code {
  font-family: 'Fira code' !important;
}

.markdown-container {
  --code-comment: var(--text-lowest);
  --code-punctuation: var(--text);
  --code-builtin: var(--text);
  --code-number: var(--text);
  --code-interpolation: var(--code-keyword);
  --code-class-name: var(--text);

  color: var(--text-low);
  overflow-y: auto !important;

  code[class*='language-'],
  pre[class*='language-'] {
    overflow-x: auto;
    min-width: 0px;
    color: var(--text);
  }

  pre[class*='language-'] {
    margin-bottom: 3em;
  }

  & .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword {
    color: var(--code-keyword);
  }

  & .token {
    &.punctuation {
      color: var(--code-punctuation);
    }

    &.string {
      color: var(--code-string);
    }

    &.function {
      color: var(--code-function);
    }

    &.comment {
      color: var(--code-comment);
    }

    &.token.builtin {
      color: var(--code-builtin);
    }

    &.token.number {
      color: var(--code-number);
    }

    &.token.constant {
      color: var(--code-constant);
    }

    &.token.operator {
      color: var(--code-operator);
    }
    &.token.interpolation {
      color: var(--code-interpolation);
    }

    &.token.class-name {
      color: var(--code-function);
    }
  }

  & h1,
  & h2,
  & h3 {
    color: var(--text);
    margin-bottom: 0.45em;
  }

  & h1 {
    font-size: 2.25em;
  }

  & p {
    line-height: 1.75rem;
  }

  & ul {
    margin: 0;
    padding: 0 20px;
  }

  & li {
    padding: 5px 0px;
    line-height: 1.75rem;
  }

  & a {
    color: var(--link);
  }

  & :is(code):not(pre code) {
    color: var(--text-medium);
    // font-size: 0.9em;
    background-color: var(--secondary);
    padding: 3px 5px;
    border-radius: 0.25em;
  }

  & :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background-color: var(--primary);
    border: 1px solid var(--border-low);
    border-radius: 0.25em;
  }

  & a :is(code):not(pre code) {
    color: inherit;
  }

  & blockquote {
    padding: 5px 20px;
    background-color: var(--secondary);
    border: 1px solid var(--dividerLight1);
    margin-right: 0px;
    border-radius: 0.25em;

    strong {
      font-style: normal;
    }
  }

  & hr {
    border: none;
    border-top: 1px solid var(--border-low);
    color: var(--border-low);
    margin: 30px 0px;
  }
}

// Home Page
.home-create-bash {
  box-shadow: 0px 0px 10px 1px var(--primary-hover);
  color: var(--text-low);

  &:hover {
    color: var(--text);
    box-shadow: 0px 0px 10px 3px var(--secondary-hover);
  }

  & > .markdown-container {
    border-radius: 0.25em;
    background-color: transparent;
    color: inherit;

    & > .language-bash {
      background: transparent;
      margin: 0px;
      padding: 0.35em 1.25em;
      color: inherit;

      & > .language-bash {
        color: inherit;
      }
    }
  }
}

.nav-bar-mobile-btn {
  width: 36px;
  height: 36px;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 22px;
    background-color: var(--text-low);
    transition: transform var(--t-medium) ease;
  }

  &:hover {
    &::before,
    &::after {
      background-color: var(--text);
    }
  }

  &::before {
    transform: translateY(-4px) rotate(0deg);
  }

  &::after {
    transform: translateY(4px) rotate(0deg);
  }

  &-expanded {
    &::before {
      transform: translateY(2px) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}
